h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 40px;

}

p{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 40px;
}

button{
    padding: 10px 40px !important;
    font-family: 'Times New Roman', Times, serif !important;

}
button:hover{
    background-color: rgb(17, 77, 17) !important;
}

